body{
  background-color: black;
  color:white;
  text-align: center;
  font-size:x-large;
  font-family: Helvetica, Arial, sans-serif;
}

.main{
  margin: 30px;
  
  background-image: linear-gradient(grey, black);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 70%;
  display:flex;
  justify-content: flex-start;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;

}

.header-label{
  height: 50px;
  margin: 10px;
  padding-top : 20px;
  font-size: 30px;
}

.car{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 500px;
  border-bottom: rgb(93, 92, 92) solid 1px
}